* {
  font-family: "Times New Roman", Times, serif, "宋体" !important;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --hover-bg: #ecf5ff;
  --border-color: #e1e4e8;
}

.dark {
  --bg-color: #1e1e1e;
  --text-color: #f2f2f2;
  --hover-bg: #2a2a2a;
  --border-color: #30363d;
}